---
layout: layouts/home.njk
pagination:
   data: films
   alias: film
   size: 1
permalink: "/films/{{ film.username | slug }}/index.html"
eleventyComputed:
   title: "{{ film.username }}"
---

<h2>{{ film.username }}</h2>

<p>
  {{ film.username }}
</p>





<script>
window.filmId = '{{ film._id }}';
</script>
